
/* Main content container and text */
body {
    background-color: rgba(0, 150, 123, .6); /* #00967B */
    font-family: 'Libre Franklin', sans-serif;
}

p {
    font-size: 1.5em;
}

.container {
    background-color: rgba(252, 118, 67, .85); /* #FC7643 */
    border: 1px solid #00967B;
    padding: 2em;
    margin: 2em auto;
    width: 80%;
    height: 80%;
}

/* Input area & clear button */
.details {
    width: 80%;
    margin: auto;
}

.field {
    margin-right: .4em;
}

.input-box {
    border: none;
}

/* Styling tasks / complete box */
.to-do-task {
    font-family: 'Libre Franklin', sans-serif;
}

.complete-task {
    margin: .3em;
}

/* Giving #to-dos some space */

#to-dos {
    margin-top: 2rem;
}

/* Styling Bootstrap buttons */

.btn-primary {
    background-color: #006352;
    border: 1px solid #006352;
}

.btn-primary:hover {
    background-color: #00967B;
    border: 1px solid #006352;
}

.btn-primary:active {
    background-color: #00967B;
    border: 1px solid #006352;
}

/* Media queries for mobile responsiveness */

/* Phone in landscape */
@media screen and (max-width: 640px) {

    h2 {
        font-size: 1.4em;
    }
    h3 {
        font-size: 1.4em;
    }
    h4 {
        font-size: 1.3em;
    }
    p {
        font-size: 1.2em;
    }
}

/* Phone in portrait */
@media screen and (max-width: 380px) {

    .field {
        margin-bottom: .75rem;
    }
}